<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AimTrainer</title>
    <link rel="stylesheet" href="/css/AimTrainer.css">
</head>
<body>
    <div class="bodygame">
        <h1 id="title">Aim trainer</h1>
        <h2 id="start">Click the circle to start game <br><center>Score 10 to win</center></h2>
        <h2 id="gameOver">Game Over</h2>
        <h2 id="gameScore"></h2>
        <h2 id="final"></h2>
        <a href="#">Click anywhere to play again</a>
        <canvas id="canvas"></canvas>
        <div class="cursor"></div>
    </div>
    <div class="stat">
        <div class="css-ocvuti">
                <h2>Aim Trainer</h2>
                <p>Click the targets as quickly and accurately as you can. </p>
                <p>This tests reflexes and hand-eye coordination.</p>
                <p>Once you've clicked 30 targets, your score and average time per target will be displayed.</p>
                <p>This test is best taken with a mouse or tablet screen. Trackpads are difficult to score well with.</p>
        </div>
        <div class="css-ocvuti">           
                <h2>Aim Trainer</h2>
                <p>Click the targets as quickly and accurately as you can. </p>
                <p>This tests reflexes and hand-eye coordination.</p>
                <p>Once you've clicked 30 targets, your score and average time per target will be displayed.</p>
                <p>This test is best taken with a mouse or tablet screen. Trackpads are difficult to score well with.</p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w=="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
        integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw=="
        crossorigin="anonymous"></script>

    <script src="/js/AimTrainer.js"></script>
</body>
</html>