<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SimonSays</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="full-nav">
        <div class="left-nav">
            <a href="/" class="current">HOME PAGE</a>
            <a href="/dashboard">HISTORY</a>
        </div>
        <div class="right-nav">
            <a href="/signup">SIGN UP</a>
            <a href="/login">LOGIN</a>
        </div>
    </div>
    <div class="example">
        <div id="destroy">
            <svg width="300" height="220" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 20px; margin: 10px;">
                <title>Sequence Memory</title>
                <rect width="64" height="64" rx="10" class="kubew"></rect>
                <rect x="70" width="64" height="64" rx="10" class="kubew"></rect>
                <rect y="70" width="64" height="64" rx="10" class="kubew"></rect>
                <path fill-rule="evenodd" clip-rule="evenodd"
                     d="M118 80H80L80 118H118V80ZM80 70C74.4772 70 70 74.4772 70 80V118C70 123.523 74.4772 128 80 128H118C123.523 128 128 123.523 128 118V80C128 74.4772 123.523 70 118 70H80Z" class="kubewp">
                </path>
            </svg>
        </div>
        <div id="arrowsContainer"></div>
        <div id="timerDisplay">Sequence Memory Test</div>
        <div id="correctAnswersDisplay">Memorize the pattern.</div>
        <div id="generateButtonContainer">
            <button id="generateButton">Start</button>
        </div>
    </div>
    <div class="stat">
        <div class="css-ocvuti">
                <h2>Aim Trainer</h2>
                <p>Click the targets as quickly and accurately as you can. </p>
                <p>This tests reflexes and hand-eye coordination.</p>
                <p>Once you've clicked 30 targets, your score and average time per target will be displayed.</p>
                <p>This test is best taken with a mouse or tablet screen. Trackpads are difficult to score well with.</p>
        </div>
        <div class="css-ocvuti">           
                <h2>Aim Trainer</h2>
                <p>Click the targets as quickly and accurately as you can. </p>
                <p>This tests reflexes and hand-eye coordination.</p>
                <p>Once you've clicked 30 targets, your score and average time per target will be displayed.</p>
                <p>This test is best taken with a mouse or tablet screen. Trackpads are difficult to score well with.</p>
        </div>
    </div>

    <script src="/js/StratagemHero.js"></script>
</body>
</html>