<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SimonSays</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="full-nav">
        <div class="left-nav">
            <a href="/" class="current">HOME PAGE</a>
            <a href="/dashboard">HISTORY</a>
        </div>
        <div class="right-nav">
            <div id="profile">
                <a href="/Profile">PROFILE</a>
            </div>
            <div id="guest" >
                <a href="/signup">SIGN UP</a>
                <a href="/login">LOGIN</a>
            </div>
        </div>
    </div>
    <div class="example">
    <h1>Simon Game</h1>
 
    <div id="simon-board">
        <button class="simon-btn top-left"
                onclick="handleClick(this)"
        data-color="1" disabled></button>
        <button class="simon-btn top-right"
                onclick="handleClick(this)"
        data-color="2" disabled></button>
        <button class="simon-btn bottom-left"
                onclick="handleClick(this)"
        data-color="3" disabled></button>
        <button class="simon-btn bottom-right"
                onclick="handleClick(this)"
        data-color="4" disabled></button>
    </div>
 
    <div id="level">
        <span>Level: 
              <span class="level-count">-</span>
          </span>
    </div>
    <button id="power-btn" onclick="togglePower()">Start</button>

    </div>
 
    <div class="stat">
        <div class="css-ocvuti">
                <h2>Simon Says</h2>
                <p>Memorize the sequence of buttons that light up, then press them in order </p>
                <p>Every time you finish the pattern, it gets longer.</p>
                <p>Make a mistake, and the test is over.</p>
        </div>
        <div id="plotlib" class="css-ocvuti">           
    </div>
    </div>

    <script src="/js/SimonSays.js"></script>
</body>
<script>
   document.addEventListener('DOMContentLoaded',function() {
   x =[];
   y =[];
   fetch('/get-simonSays')
       .then(response => response.text())
       .then(data => {
           data = JSON.parse(data);
           data.forEach(element => {
               x.push(element.date);
               y.push(element.score);
           });
       })
       .catch((error) => {
           console.error('Error getting the response:', error);
       })

   var data = {
         y: y,
         x: x,
         type: 'scatter'
     };
     
     var layout = {
         yaxis: {
             range: [1.5, 6.5],
         },
         xaxis: {
             showticklabels: false
         },
         width: calculateDesiredWidth(45) > 600 ? calculateDesiredWidth(45) : 600,
         height: 350,
         margin: {
             l: 10,
             r: 30,
             t: 50,
             b: 50 
         }
     };
     
     var config = {
         showLink: true,
         plotlyServerURL: "https://chart-studio.plotly.com", 
         staticPlot: true
     };

     Plotly.newPlot('plotlib', [data], layout, config);
   });
 </script>
</html>